body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.login{
  padding: 36px 36px 0 36px;
  max-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -189px;
  background: #f8f8f8;
  box-shadow: 0 0 100px rgba(0,0,0,.08);
  
  
}
.login-form {
  max-width: 100%;
  
}
.login-form-button {
  width: 100%;
}